* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.navbar {
	padding: 5px;
	background-color: #333;
}
.nav-logo {
	font-family: Tahoma;
	padding: 10px 10px;
	width: fit-content;
	margin: 0 0 0 5px;
	background-color: skyblue;
	border-radius: 0 10px;
}
.navbar a {
	color: #f4f4f4;
	text-decoration: none;
}
.form-container {
	font-family: sans-serif;
	padding: 10px;
	width: fit-content;
	margin: 30px auto 0;
	background-color: skyblue;
	border: 1px solid red;
	border-radius: 10px;
}
.header {
	text-align: center;
}
.input-container {
	margin-bottom: 10px;
}
.labels {
	font-weight: bold;
	display: block;
}
input[type="text"] {
	font-size: 15px;
	padding: 5px 5px;
	width: 260px;
}
input[type="text"]:focus {
	outline: none;
}
textarea {
	font-size: 15px;
	padding: 5px 5px;
	width: 260px;
	height: 120px;
}
textarea:focus {
	outline: none;
}
input[type="submit"] {
	color: wheat;
	font-size: 15px;
	display: block;
	width: fit-content;
	padding: 10px 50px;
	margin: 0 auto;
	background-color: lime;
	/* border: 3px solid wheat; */
	border-radius: 10px;
	cursor: pointer;
	/* transition: 0.75s; */
}
/* input[type="submit"]:hover {
	color: lime;
	background-color: wheat;
	border: 3px solid lime;
} */
.success-class {
	color: white;
	text-align: center;
	padding: 5px 0;
	background-color: lime;
	border-radius: 5px;
}
.warning-class {
	color: white;
	text-align: center;
	padding: 5px 0;
	background-color: red;
	border-radius: 5px;
}
