* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: tahoma;
}
.navbar {
	display: flex;
	justify-content: space-between;
	padding: 15px;
	background: #666;
}
.logo {
	color: white;
	margin: 0 15px;
}
.navbar-links {
	color: white;
	text-decoration: none;
	margin: 0 15px;
}
